body{
	background-color: #ffffff;
	font-family: "Trebuchet MS";
	margin-top: 50px;
	padding: 0px;
}

::placeholder{
	font-size: small;
}

input[type=date]{
	font-size: small;
}

header{
	background-color: #ffffff;
	
	padding: 0px;
	display: flex;	
	position: relative;
	top:0;
	height: 50px;
	overflow: hidden;
}

main{
	margin-top: 50px;
}

body h1{
	color: #ffc929;
	font-weight: normal;
	text-shadow: 2px 2px 5px #ededed;
}

img{
	display: flex;
	max-width: 100%;
	height: auto;
}

#globe{
	max-width:30px;
	margin-top: 5px;
}

#btnIr{
	margin-top: 1em;
}

#traveler{
	max-width:30px;
}

#full_logo{
	max-width:500px;
}

.card{
	box-shadow: 1px 1px 5px #ededed;
	margin-top: 10px;
}

.card-img-top{
	width: 100% !important;
	height: 100% !important;
	flex-wrap: wrap;
}

.card:hover{
	border-color: #f1c232;
	border-width: 2px;
	cursor: pointer;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    justify-items: center;
}

.card-img-top{
	max-height=400px;
}

#especificacoes{
	display: flex;
	align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px 2px rgb(240, 240, 240);
    border-radius: 15px;
    padding: 15px 15px;
    flex-wrap: wrap;
	margin-bottom: 10px;
}

input{
	width: 100%;
    height: 40px;
    border: 1px solid #ededed;
	padding: 5px;
	border-radius: 5px;
	font-size: small;
}

label{
	font-weight: bold;
	color: #7a7a7a;
	font-size: small;
}

footer{
    padding: 40px;
    text-align: center;
    background-color: #ededed;
    display: fixed;
	font-size: small;
}

footer a{
	color: #f1c232 !important;
}